<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>营销线索检索与推送</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <script src="js/flexible_css.js"></script>
    <script src="js/flexible.js"></script>
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/page/datalist.css?v=23e45a">
</head>
<body>
    <div class="container datalist" id="datalist">
        <div class="search">
            <div class="search-input">
                <div class="icon-search"></div>
                <input type="text" value="" placeholder="请输入关键字" class="txt-search" id="txt-extra">
                <button type="button" class="btn-search" v-on:click="search()">查询</button>
                <div class="clear"></div>
            </div>
            <div class="search-item">
                <ul class="items">
                    <li id="province" v-on:click="select('province')"><span>区域</span><span class="down"></span></li>
                    <li id="vocation" v-on:click="select('vocation')"><span>行业</span><span class="down"></span></li>
                    <li id="size" v-on:click="select('size')"><span>规模</span><span class="down"></span></li>
                    <li id="website" v-on:click="select('website')"><span>来源</span><span class="down"></span></li>
                </ul>
            </div>
        </div>
        <div class="li-info">
            <div class="li-items">
                <ul id="province-items">
                    <li v-for="(value,key) in provinceMap" v-bind:data-id="value.id">{{value.name}}</li>
                </ul>
                <ul id="vocation-items">
                    <li v-for="(value,key) in vocationMap" v-bind:data-id="value.vocationCode">{{value.vocationName}}</li>
                </ul>
                <ul id="size-items">
                    <li v-for="(value,key) in sizeMap" v-bind:data-id="value.id">{{value.name}}</li>
                </ul>
                <ul id="website-items">
                    <li v-for="(value,key) in websiteMap" v-bind:data-id="value.id">{{value.name}}</li>
                </ul>
            </div>
            <div class="li-btns">
                <button type="button" class="li-btn" id="reset-search">重置</button>
                <button type="button" class="li-btn btn-blue" v-on:click="search()">确定</button>
            </div>
        </div>
        <div class="blank" v-if="tableData.totalCount<=0">
            <span class="icon-blank"></span>
            <span class="icon-front">没有找到符合条件的数据</span>
        </div>
        <div class="msg" v-if="tableData.totalCount>0">
            <div class="msg-left">您今天的推送额度：<span>{{pushData.pushedCount}}/{{pushData.pushTotal}}</span></div>
            <div class="msg-right">
                <div class="progress">
                    <div class="progressing" v-bind:style={"width":pushData.percent}></div>
                </div>
            </div>
        </div>
        <div class="list" v-if="tableData.totalCount>0">
            <ul>
                <li v-for="(value,key) in tableData.list" v-bind:data-id="value.id" v-on:click="detail(value.id,value.companyScore)">
                    <div class="list-left">
                        <h3>{{value.company}}</h3>
                        <div class="item-info">
                            <span v-if="value.mobile!=''">{{value.mobile}}</span>
                            <span v-if="value.province!=''">{{value.province}}</span>
                            <span v-if="value.name!=''">{{value.name}}</span>
                        </div>
                    </div>
                    <div class="list-right">
                        <p>评分：{{value.companyScore}}</p>
                        <button type="button" class="com-btn" v-on:click="push(value.id)" v-if="pushData.pushedCount<pushData.pushTotal">推送</button>
                        <button type="button" class="com-btn" v-if="pushData.pushedCount>=pushData.pushTotal" style="cursor:no-drop;">推送</button>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
            <div class="more" v-on:click="next()" v-if="tableData.totalPage>2">换一批</div>
        </div>
        <div class="nav-list">
            <div class="nav-search">
                <span class="current">
                    <span class="nav-icon-search"></span>
                    <span class="nav-front">线索</span>
                </span>
            </div>
            <div class="nav-static">
                <span onclick="window.location.href='statistics-1.html'">
                    <span class="nav-icon-static"></span>
                    <span class="nav-front">统计</span>
                </span>
            </div>
        </div>
        <div class="shade-detail" id="li-detail">
            <div class="shade"></div>
            <div class="shade-content">
                <div class="shade-content-item">
                    <p>{{detailInfo.company}}<span class="score">{{detailInfo.score}}</span></p>
                    <div class="clear"></div>
                    <!--<span>{{detailInfo.jobName}}</span>-->
                </div>
                <div class="shade-content-item">
                    <p>招聘职位：</p><br>
                    <span>{{detailInfo.jobName}}</span>
                </div>
                <div class="shade-content-item">
                    <p>地址：</p><br>
                    <span>{{detailInfo.address}}</span>
                </div>
                <div class="shade-content-item">
                    <p>联系人：</p><br>
                    <span>{{detailInfo.name}}</span>
                </div>
                <div class="shade-content-item">
                    <p>联系电话：</p><br>
                    <span>{{detailInfo.phone}}</span>
                </div>
                <div class="shade-content-btn">
                    <button type="button" class="btn-com" v-on:click="push(detailInfo.id)" v-if="pushData.pushedCount<pushData.pushTotal">推送</button>
                    <button type="button" class="btn-com"  v-if="pushData.pushedCount>=pushData.pushTotal" style="cursor:no-drop;">推送</button>
                </div>
            </div>
            <div class="shade-close-1"></div>
        </div>
        <div class="com-height"></div>
    </div>
    <div class="shade-items">
        <div class="shade"></div>
        <div class="shade-msg">线索数据推送成功</div>
        <div class="shade-close"></div>
    </div>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/page/main.js?v=23e45a"></script>
    <script src="js/page/datalist.js?v=23e45a"></script>
</body>
</html>